.topbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    background: #ffffff;
    z-index: 1;
}
.logo{
    display: initial;
    margin-top: 15px;
    width: 180px;
    color: #5C5D5D;
    margin-left: 3%;
    font-size: xx-large;
    font-weight: 200;
}